<h1>List View</h1>

<div class="row">
  <sl-search-box [noResult]="isSearchResultEmpty"></sl-search-box>
  <div class="col-sm-6 text-sm-right">
    <a routerLink="/addCharacter" class="btn btn-primary mb-3">Add New</a>
  </div>
</div>

<table class="table table-bordered table-hover">
  <thead class="thead-light">
  <tr>
    <th scope="col">Id</th>
    <th scope="col">Name</th>
    <th scope="col">Species</th>
    <th scope="col">Gender</th>
    <th scope="col">Homeworld</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let character of characters">
    <th scope="row">{{character?.id}}</th>
    <td>{{character?.name}}</td>
    <td>{{character?.species}}</td>
    <td>{{character?.gender}}</td>
    <td>{{character?.homeworld}}</td>
    <td>
      <div class="btn-group btn-group-sm" role="group" aria-label="Actions">
        <a [routerLink]="['/editCharacter', character.id]" class="btn btn-secondary">
          <i class="fa fa-pencil" aria-hidden="true"></i> Edit
        </a>
        <button type="button" class="btn btn-danger" (click)="deleteCharacter(character.id)">
          <i class="fa fa-trash-o" aria-hidden="true"></i> Remove
        </button>
      </div>
    </td>
  </tr>
  </tbody>
</table>

<sl-pagination *ngIf="!filteredResults" (requestedPage)="fetchCharacters($event)"></sl-pagination>

