<div class="col-sm-6">
  <div class="form-group">
    <label for="searchInput" class="sr-only" [ngClass]="{'text-danger': noResult}">Search</label>
    <input type="text" class="form-control" id="searchInput" placeholder="Search..."
           (keyup)="searchAll($event.target.value)" [ngClass]="{'is-invalid': noResult}"/>
    <span class="text-danger" *ngIf="noResult">No Results Found</span>
  </div>
</div>
