<nav aria-label="Data grid navigation">
  <ul class="pagination justify-content-end">
    <li class="page-item" [ngClass]="{disabled: paginationService.currentPage === 1}">
      <a routerLink="/" class="page-link" tabindex="-1" (click)="getThisPage(paginationService.currentPage - 1)">Previous</a>
    </li>
    <li *ngFor="let page of pager; let i = index" class="page-item">
      <a routerLink="/" class="page-link" (click)="getThisPage(i+1)">{{i + 1}} <span
        class="sr-only">(current)</span></a>
    </li>

    <li class="page-item" [ngClass]="{disabled: paginationService.currentPage === pager?.length}">
      <a routerLink="/" class="page-link" href="#" (click)="getThisPage(paginationService.currentPage + 1)">Next</a>
    </li>
  </ul>
</nav>
