<form slFocusInput [formGroup]="form">
  <div class="form-group">
    <label for="name">Name <span class="asterisk">*</span></label>
    <input id="name" class="form-control" placeholder="enter character's name" formControlName="name"
           [ngClass]="{ 'is-invalid': name.invalid && name.touched }" required>
    <span class="invalid-feedback" *ngIf="name.invalid && name.touched">{{errorMessageRequired}}</span>
  </div>
  <div class="form-group">
    <label for="species">Species <span class="asterisk">*</span></label>
    <select id="species" class="form-control" formControlName="species"
            [ngClass]="{ 'is-invalid': species.invalid && species.touched }" required>
      <option *ngFor="let species of availableSpecies" [value]="species">{{ species }}</option>
    </select>
    <span class="invalid-feedback" *ngIf="species.invalid && species.touched">{{errorMessageRequired}}</span>
  </div>
  <div class="form-group">Gender <span class="asterisk">*</span>
    <div class="form-check" *ngFor="let item of genders">
      <input id="{{item}}" class="form-check-input" type="radio"
             [ngClass]="{ 'is-invalid': gender.invalid && gender.touched }" formControlName="gender" [value]="item"
             required>
      <label class="form-check-label" for="{{item}}">{{item}}</label>
    </div>
    <span class="invalid-feedback visible" *ngIf="gender.invalid && gender.touched">{{errorMessageRequired}}</span>
  </div>
  <div class="form-group">
    <label for="homeworld">Homeworld</label>
    <input id="homeworld" class="form-control" formControlName="homeworld" placeholder="enter character's homeworld"/>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="isSubmitting" (click)="submitNewCharacter(form.value)">
    Add
  </button>
</form>
